# gpio bank 0
set_io -nowarn hm01b0_pixdata[1]   23
set_io -nowarn hm01b0_pixdata[3]   25
set_io -nowarn hm01b0_vsync        26
set_io -nowarn hm01b0_trig_debug_led   27
set_io -nowarn hm01b0_mck          28
set_io -nowarn hm01b0_pixdata[2]   31
set_io -nowarn hm01b0_pixdata[4]   32
set_io -nowarn hm01b0_pixdata[7]   34
set_io -nowarn hm01b0_pixdata[0]   35
set_io -nowarn hm01b0_hsync        36
set_io -nowarn hm01b0_pixclk       37
set_io -nowarn hm01b0_int          38
set_io -nowarn hm01b0_pixdata[6]   39
set_io -nowarn hm01b0_pixdata[5]   40
set_io -nowarn hm01b0_scl          41
set_io -nowarn hm01b0_sda          42
set_io -nowarn gpio43_hiz          43

# gpio bank 2
set_io -nowarn mem2_ps1      44
set_io -nowarn mem2_cipo1    45
set_io -nowarn mem2_copi1    46
set_io -nowarn mem2_ps2      47
set_io -nowarn mem2_cipo2    48
set_io -nowarn mem2_nwp      2
set_io -nowarn mem2_sck      3
set_io -nowarn mem2_copi2    4

# gpio bank 1
#set_io -nowarn mem1_cipo     6
#set_io -nowarn mem1_nwp      7
#set_io -nowarn mem1_ps1      9
#set_io -nowarn mem1_nhold    10
#set_io -nowarn mem1_sck      11
#set_io -nowarn mem1_copi     12
#set_io -nowarn mem1_ps2      13
set_io -nowarn uart_tx_config_copi       14
#set_io -nowarn mic_bck_config_sck        15
set_io -nowarn config_ps                 16
set_io -nowarn mic_ws_config_cipo        17
set_io -nowarn mic_data                  18
#set_io -nowarn qwiic_sda                 19
set_io -nowarn osc_12m                   20
set_io -nowarn qwiic_scl                 21

set_io -nowarn gpio[0] 6  
set_io -nowarn gpio[1] 9
set_io -nowarn gpio[2] 13
set_io -nowarn gpio[3] 10
set_io -nowarn gpio[4] 11
set_io -nowarn gpio[5] 12
set_io -nowarn gpio[6] 15
set_io -nowarn gpio[7] 19