# general GPIO
#set_io led 40
set_io spi_cs 16    # Tie this to high to make sure that the spi flash is disabled.
set_io uart_tx 14

set_io debug_leds[0] 28
set_io debug_leds[1] 38
set_io debug_leds[2] 42
set_io debug_leds[3] 35
set_io debug_leds[4] 43
set_io debug_leds[5] 34

# i2c going to hm01b0
set_io sda 3
set_io scl 4

# hm01b0 connections. With the configuration that the human detection demo blasts over i2c, the
# hm01b0 is configured to send data over a 4-bit parallel bus.
set_io hm01b0_mck        11
set_io hm01b0_nreset     13
set_io hm01b0_nstby      45

set_io hm01b0_pixdata[0] 21
set_io hm01b0_pixdata[1] 12
set_io hm01b0_pixdata[2] 37
set_io hm01b0_pixdata[3] 31

set_io hm01b0_pixclk     19
set_io hm01b0_hsync      44
set_io -pullup yes hm01b0_vsync      6
