################################
# LEDs
################################
set_io -nowarn leds[0]    44
set_io -nowarn leds[1]    45
set_io -nowarn leds[2]    46
set_io -nowarn leds[3]    47


################################
# unsorted
################################
set_io -nowarn spi_cs 16
set_io osc_12m 35


################################
# unused
################################
set_io -pullup yes unused_2 2
set_io -pullup yes unused_3 3
set_io -pullup yes unused_4 4
set_io -pullup yes unused_6 6
set_io -pullup yes unused_9 9
set_io -pullup yes unused_11 11
set_io -pullup yes unused_12 12
set_io -pullup yes unused_13 13
set_io -pullup yes unused_14 14
set_io -pullup yes unused_15 15
set_io -pullup yes unused_18 18
set_io -pullup yes unused_19 19
set_io -pullup yes unused_20 20
set_io -pullup yes unused_21 21
set_io -pullup yes unused_23 23
set_io -pullup yes unused_25 25
set_io -pullup yes unused_26 26
set_io -pullup yes unused_27 27
set_io -pullup yes unused_28 28
set_io -pullup yes unused_31 31
set_io -pullup yes unused_32 32
set_io -pullup yes unused_34 34
set_io -pullup yes unused_36 36
set_io -pullup yes unused_37 37
set_io -pullup yes unused_38 38
set_io -pullup yes unused_39 39
set_io -pullup yes unused_41 41
set_io -pullup yes unused_42 42
set_io -pullup yes unused_43 43
set_io -pullup yes unused_48 48